
#main {
  position: relative;
}


#logocontainer {
  display: flex;
  flex-direction: row;
}

#logowrapper {
  width: 50px;
}
#logowrapper img{
 cursor: pointer;
}
#navbar {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#navbar a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

#navbar :after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  opacity: 0;
  border: 1px solid #333;
  height: 1px;
}

#navbar a:hover:after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  width: 100%;
}


/* 
@media (prefers-color-scheme: light) {
  :root {
    --text: #12051f;
    --background: #fbf7fd;
    --primary: #7c2bda;
    --secondary: #caa8f0;
    --accent: #611fad;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ede0fa;
    --background: #060208;
    --primary: #7725d4;
    --secondary: #310f57;
    --accent: #9452e0;
  }
}

*/