
#main {
  position: relative;
}


#logocontainer {
  display: flex;
  flex-direction: row;
}

#logowrapper {
  width: 50px;
}
#logowrapper img{
 cursor: pointer;
}
#navbar {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#navbar a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

#navbar :after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  opacity: 0;
  border: 1px solid #333;
  height: 1px;
}

#navbar a:hover:after {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  width: 100%;
}